:root{
    --bgColor: hsl(268, 75%, 9%);
    --keypadBgColor: hsl(268, 71%, 12%);
    --panelBgColor: hsl(268, 71%, 12%);

    --specialKeyBgColor: hsl(281, 89%, 26%);
    --specialKeyHover: hsl(281, 89%, 45%);
    --specialKeyBgShadow: hsl(285, 91%, 52%);

    --equalsBtnColor: hsl(176, 100%, 44%);
    --equalsBtnHover: hsl(176, 100%, 73%);
    --equalsBtnShadow: hsl(177, 92%, 70%);

    --btnColor: hsl(268, 47%, 21%);
    --btnHover: hsl(268, 47%, 41%);
    --btnShadow: hsl(290, 70%, 36%);

    --textColor: hsl(52, 100%, 62%);
    --panelTextColor: hsl(52, 100%, 62%);
}


body{
    background-color: var(--bgColor);
}
.top{
    color: var(--panelTextColor);
}
.wrapper .output{
    background-color: var(--panelBgColor);
    color: var(--panelTextColor);
}
.wrapper .keypad, .switch button{
    background-color: var(--keypadBgColor);
}
.keypad .btn{
    background-color: var(--btnColor);
    color: var(--textColor);
    border-bottom: 2px solid var(--btnShadow);
}
.keypad .btn:active{
    background-color: var(--btnHover);
}
.keypad .del, .keypad .reset{
    background-color: var(--specialKeyBgColor);
    border-bottom: 2px solid var(--specialKeyBgShadow);
    color: var(--panelTextColor);
}
.keypad .del:active, .keypad .reset:active{
    background-color: var(--specialKeyHover);
}
.keypad .equals{
    background-color: var(--equalsBtnColor);
    border-bottom: 2px solid var(--equalsBtnShadow);
}
.keypad .equals:active{
    background-color: var(--equalsBtnHover);
}
.keypad .del, .keypad .reset{
    color: hsl(0, 0%, 100%);
}
.keypad .equals{
    color: hsl(198, 20%, 13%);
}
.theme-switch-section .ballpoint{
    background-color: var(--equalsBtnColor);
    bottom: 3px;
    left: 52px;
}

.attribution{color: var(--equalsBtnColor);}
.attribution a{color: var(--panelTextColor);}